[submodule "apis/scraper"]
	path = apis/scraper
	url = https://github.com/pct-org/scraper.git
[submodule "apis/graphql-api"]
	path = apis/graphql-api
	url = https://github.com/pct-org/graphql-api.git
[submodule "updater"]
	path = updater
	url = https://github.com/pct-org/updater.git
